version: '2'
volumes:
  db-data:
  ollama-data:
  doggy-data:
  doggy-uploads:
  thingy-data:
services:
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0
    restart: always
  led-controller:
    build: led-controller
    privileged: true
    ports:
      - "5000:5000"
    devices:
      - "/dev/gpiochip0:/dev/gpiochip0"
      - "/dev/gpiomem:/dev/gpiomem"
    environment:
      - RED_LED_PIN=17
      - GREEN_LED_PIN=27
      - GPIO_CHIP=/dev/gpiochip0
      - MOCK_MODE=false
    restart: always
  mendix:
    build: docker-mendix-buildpack
    privileged: true
    environment:
       - ADMIN_PASSWORD=Admin@Mendix2024!
       - DATABASE_ENDPOINT= postgres://mendix:mendix@db:5432/mendix
     # - LICENSE_ID=<Mx License ID>
     # - LICENSE_KEY=<Mx License Key>
       - DEBUGGER_PASSWORD=DebuggerPassword
       - DEVELOPMENT_MODE=true
    links:
      - db
    depends_on:
      - db
    restart: always
  doggy-website:
    build: doggy-website
    volumes:
      - doggy-data:/app/instance
      - doggy-uploads:/app/static/uploads
    environment:
      - FLASK_APP=run.py
      - FLASK_ENV=production
    restart: always
  thingy52-gateway:
    build: thingy52-gateway
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
    volumes:
      - thingy-data:/app/data
    labels:
      io.balena.features.dbus: '1'
    environment:
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket
      - FLASK_ENV=production
      - THINGY_ADDRESS=E5:56:BD:7C:89:9C
      - THINGY_NAME=TarigTx
      - PORT=5002
    restart: always
  nginx:
    build: nginx
    privileged: true
    depends_on:
      - mendix
      - led-controller
      - doggy-website
    ports:
      - "80:80"
      - "443:443"
    restart: always
  db:
    build: postgres
    restart: always
    environment:
      - PGDATA=/database
      - POSTGRES_DB=mendix
      - POSTGRES_USER=mendix
      - POSTGRES_PASSWORD=mendix
    volumes:
      - 'db-data:/database'
#  gcloud-iot:
#    build: gcloud-iot
