@use "../../deployment/sass/custom-icons.scss" as module0;
@use "../../theme/web/custom-variables.scss" as module1;
@use "../../themesource/administration/web/main.scss" as module2;
@use "../../themesource/agentcommons/web/main.scss" as module3;
@use "../../themesource/amazonbedrockconnector/web/main.scss" as module4;
@use "../../themesource/awsauthentication/web/main.scss" as module5;
@use "../../themesource/communitycommons/web/main.scss" as module6;
@use "../../themesource/databaseconnector/web/main.scss" as module7;
@use "../../themesource/genaicommons/web/main.scss" as module8;
@use "../../themesource/mcpclient/web/main.scss" as module9;
@use "../../themesource/mxgenaiconnector/web/main.scss" as module10;
@use "../../themesource/nanoflowcommons/web/main.scss" as module11;
@use "../../themesource/objecthandling/web/main.scss" as module12;
@use "../../themesource/openaiconnector/web/main.scss" as module13;
@use "../../themesource/pgvectorknowledgebase/web/main.scss" as module14;
@use "../../themesource/webactions/web/main.scss" as module15;
@use "../../themesource/atlas_core/web/main.scss" as module16;
@use "../../themesource/atlas_web_content/web/main.scss" as module17;
@use "../../themesource/feedbackmodule/web/main.scss" as module18;
@use "../../themesource/datawidgets/web/main.scss" as module19;
@use "../../themesource/conversationalui/web/main.scss" as module20;
@use "../../themesource/demodata/web/main.scss" as module21;
@use "../../themesource/myfirstsupportagent/web/main.scss" as module22;
@use "../../theme/web/main.scss" as module23;